<mat-toolbar style=" display: flex; justify-content: space-between;" >


 <div style="display: flex; align-items: center; gap: 10px;">
    <button mat-button style="color: white;">Mi Perfil</button>
    <button mat-button style="color: white;">Libros</button>
    <button mat-button style="color: white;">Películas</button>
  </div>

    <div style="display: flex; align-items: center; justify-content: center;">
    <mat-icon style="font-size: 32px; color: white;">menu_book</mat-icon>

   
  </div>


   <div style="display: flex; align-items: center;">
    
     <button mat-icon-button style="color: white; "  aria-label="Buscar">
      <mat-icon>search</mat-icon>
    </button>
     <button mat-icon-button style="color: white;" aria-label="Buscar">
    <mat-icon aria-hidden="false">logout</mat-icon>
    </button>
  </div>
  


</mat-toolbar>
